.tab-content {
    height: calc(100% - 42px);
}
.options-list {
    height: 100%;
    overflow-y: scroll;
    width: 100%;
    margin-bottom: 0;
    height: calc(100% - 34px);
}
#container {
    height: 100%;
    padding: 0;
}
#contents {
    font-size: 48px;
    height: calc(100% - 60px);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
#btn-user-input {
    height: 60px;
}
.btn-default.focus,
.btn-default:focus {
    background-color: #fff;
}
.btn-primary.focus,
.btn-primary:focus {
    background-color: #337ab7;
}
.btn-default.focus.active {
    background-color: #e6e6e6;
}
.btn-primary.focus.active {
    background-color: #286090;
}
.range-slider {
    padding: 10px;
}